:root {
  --color-noir1: #000000;
  --color-noir2: #111111;
  --color-noir3: #232323;
  --color-noir4: #343434;
  --color-noir5: #464646;
  --color-noir6: #575757;
  --color-noir7: #696969;
  --color-noir8: #7A7A7A;
  --color-blanc: #FFF;
  --color-primaire-violet: #873DE7;
  --color-primaire-violet2: #2A1E3E;
  --color-primaire-violet3: #442860;
  --color-primaire-violet4: #8D86C9;
}

@font-face {
  font-family: Monreal;
  src: url(fonts/Montreal-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Monreal';
}

html {
    font-family: 'Monreal';
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* background: linear-gradient(0deg, rgba(37,0,154,1) 0%, rgb(32, 1, 82) 80%); */
    background: linear-gradient(0deg, rgba(32,1,82,1) 20%, rgba(37,0,154,1) 40%, rgba(32,1,82,1) 80%);
    padding-top: 90px;
}

/* overflow */
body::-webkit-scrollbar {
    width: 1em;
    background-color: #c0c0c0;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-primaire-violet);
    border-radius: 100vw;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-noir4);
}

body::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 100vw;
    margin-block: .5em;
}

/* proprietes universelles */
a {
    text-decoration: none;
}

h1 {
    font-size:1.8rem;
}

h1, h2 {
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    font-size: 1.15em;
}

li {
    font-size:1.05rem;
}

i {
    font-size: 1.3rem;
}

img, a {
    -webkit-user-drag: none;
}

/* header */
header {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 5%;
    background: none;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    color: var(--color-blanc);
    z-index: 9999;
    backdrop-filter: blur(10px);
    border-bottom: 3px solid var(--color-primaire-violet);
}

/* header h1 {
    pointer-events: none;
    font-size: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
} */

header img {
    width: 65px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    text-align: center;
    padding: 0 45px;
}

header nav i {
    position: relative;
    bottom: 1px;
    font-size: 25px;
    color: var(--color-primaire-violet);
}

header nav a {
    position: relative;
    padding: 0 8px;
    font-weight: 500;
    font-size: 22px;
    text-decoration: none;
    color: var(--color-blanc);
    transition: color .2s ease;
    letter-spacing: 1.5px;
}

.nav_links li a:after {
    content: "";
    position: absolute;
    background-color: var(--color-primaire-violet);
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    left: 0;
    bottom: -10px;
    transition: transform 0.3s;
    border-radius: 50px;
}

.nav_links li a:hover:after {
    transform: scaleX(90%);
}

header nav a:hover {
    color: var(--color-primaire-violet4);
}

header li.active a {
    color: var(--color-primaire-violet4);
}

header li.active a:after {
    background-color: var(--color-primaire-violet);
    transform: scaleX(90%);
}

/* page accueil */
h1.titre_page_accueil {
    text-align: left;
    width: 80%;
    margin-block: 50px;
    color: var(--color-blanc);
    font-size: 40px;
    letter-spacing: 2.2px;
    pointer-events: none;
}

.introduction_container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    pointer-events: none;
    color: var(--color-blanc);
}

.introduction_container p {
    width: 100%;
    margin-right: 120px;
    line-height: 1.7;
}

.introduction_container img {
    width: 350px;
}

.intro_button_container {
    width: 80%;
    margin-top: 50px;
    pointer-events: visible;
}

.intro_button_container button.rejoindre_club {
    padding: 15px 65px;
    border-radius: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--color-primaire-violet);
    font-size: 1.2em;
    color: var(--color-blanc);
    transition: color .2s ease, background .2s ease;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.intro_button_container button.rejoindre_club:hover {
    background-color: var(--color-primaire-violet3);
    box-shadow: 0 0 6px rgba(241, 241, 241, 0.4);
}

.stats_container {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    pointer-events: none;
}

.stats_container span {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    animation: fadeInBar 1.3s .2s cubic-bezier(0.23, 1, 0.32, 1) forwards;
    opacity: 0;
}

@keyframes fadeInBar {
    from {
        transform: scale(0.7);
        opacity: 0;
        animation: none;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


.stats_container h2 {
    color: var(--color-primaire-violet);
    font-size: 2.5em;
    text-align: center;
}

.stats_container h3 {
    color: var(--color-blanc);
    font-size: 1.5em;
    margin-top: 20px;
    text-align: center;
}

h1.titre_abonnement_accueil {
    margin-block: 100px 50px;
    color: var(--color-blanc);
    font-size: 35px;
    letter-spacing: 1.1px;
    pointer-events: none;
}

.abonnement_accueil {
    width: 90%;
    padding: 30px 40px;
    border: 4px solid var(--color-primaire-violet);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.abonnement_accueil_textes {
    width: 100%;
    pointer-events: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.abonnement_accueil_textes li {
    list-style: none;
    margin: 20px;
    position: relative;
}

.abonnement_accueil_textes li:last-child {
    margin-bottom: 0;
}

li::before {
    content: url(images/check-solid.svg);
    display: inline-block;
    width: 1.25em;
    position: absolute;
    left: -30px;
}

.abonnement_accueil_textes p {
    color: var(--color-blanc);
}

.abonnement_accueil_button_container {
    width: 100%;
    margin-top: 30px;
    pointer-events: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.abonnement_accueil button.rejoindre_elite {
    padding: 15px 300px;
    margin-top: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--color-primaire-violet);
    font-size: 1.2em;
    color: var(--color-blanc);
    transition: color .2s ease, background .2s ease;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.abonnement_accueil button.rejoindre_elite:hover {
    background-color: var(--color-primaire-violet3);
    box-shadow: 0 0 6px rgba(241, 241, 241, 0.4);
}

h1.titre_avis_clients {
    margin-block: 120px 25px;
    color: var(--color-blanc);
    font-size: 35px;
    letter-spacing: 1.1px;
    pointer-events: none;
}

.abonnement_accueil.avis_clients {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    border: none;
}

.abonnement_accueil.avis_clients p {
    text-align: left;
    color: var(--color-blanc);
    margin-right: 80px;
    line-height: 1.5;
    pointer-events: none;
}

.abonnement_accueil.avis_clients p:last-child {
    margin-right: 0;
}

.abonnement_accueil.avis_clients i {
    margin-bottom: 20px;
    font-size: 2.7em;
    color: var(--color-primaire-violet);
}

hr.accueil {
    margin-block: 150px;
    background-color: var(--color-blanc);
    width: 95%;
    height: 4px;
    border: none;
    border-radius: 50px;
}

.titre_pub_abonnement {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.titre_pub_abonnement h1 {
    color: var(--color-blanc);
    font-size: 45px;
    letter-spacing: 2px;
    pointer-events: none;
}

.titre_pub_abonnement img {
    width: 90px;
    position: absolute;
    right: -25px;
    top: 55px;
}

.pub_abonnement {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 40px;
}

.pub_abonnement h2 {
    margin-right: 30px;
    line-height: 1.7;
    color: var(--color-blanc);
    font-size: 1.45em;
    letter-spacing: .6px;
}

.pub_abonnement img {
    width: 350px;
}

.pub_abonnement_button_container button.pub_abonnement_button {
    margin-block: 20px 30px;
    padding: 15px 100px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--color-primaire-violet);
    font-size: 1.2em;
    color: var(--color-blanc);
    transition: color .2s ease, background .2s ease;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.pub_abonnement_button_container button.pub_abonnement_button:hover {
    background-color: var(--color-primaire-violet3);
    box-shadow: 0 0 6px rgba(241, 241, 241, 0.4);
}

.ligne_social {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 30px 60px;
}

.ligne_social i {
    color: var(--color-primaire-violet4);
    font-size: 2.7em;
    margin-inline: 30px;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.4));
    transition: color .2s ease, background .2s ease;
}

.ligne_social i:hover {
    color: var(--color-blanc);
    filter: drop-shadow(0 0 6px rgba(241, 241, 241, 0.4));
}

/* footer */
footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
    margin-top: 50px;
    background: none;
    overflow: hidden;
    color: var(--color-blanc);
    border-top: 3px solid var(--color-primaire-violet);
}
footer .titre_pub_abonnement h1 {
    pointer-events: none;
    font-size: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.45;
}

footer .titre_pub_abonnement img {
    top: 45px;
    right: -30px;
    width: 80px;
}

.nav_links_footer {
    list-style: none;
}

.nav_links_footer li {
    display: inline-block;
    text-align: center;
    padding: 0;
    margin-inline: 50px;
}

footer a {
    position: relative;
    padding: 0 8px;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
    color: var(--color-primaire-violet);
    transition: color .2s ease;
    letter-spacing: 2px;
}

.nav_links_footer li a:after {
    content: "";
    position: absolute;
    background-color: var(--color-primaire-violet);
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    left: 0;
    bottom: -10px;
    transition: transform 0.3s;
    border-radius: 50px;
}

.nav_links_footer li a:hover:after {
    transform: scaleX(90%);
}

footer a:hover {
    color: var(--color-primaire-violet4);
}

footer .ligne_social {
    width: auto;
    margin-block: 0;
}

footer .ligne_social i {
    font-size: 35px;
}

/* page formation */
.introduction_container.formation {
    margin-bottom: 50px;
}

.container_card {
    width: 90%;
    margin-block: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-gap: 10px;
}

.container_card .card {
    width: 300px;
    padding: 30px 35px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    color: var(--color-blanc);
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: transform .15s ease-out;
}

.container_card .card img {
    width: 100%;
    border-radius: 30px;
    margin-bottom: 15px;
    transition: border-radius .15s ease-out;
    background: #19064e;
}

.container_card .card h1 {
    margin-bottom: 15px;
    color: var(--color-primaire-violet);
    font-size: 26px;
    letter-spacing: 2px;
    pointer-events: none;
    transition: color .2s .05s ease;
    text-transform: capitalize;
}

.container_card .card p {
    color: var(--color-noir8);
    font-size: 22px;
    letter-spacing: .5px;
    pointer-events: none;
    transition: color .2s .1s ease;
}

.container_card .card:hover {
    transform: scale(1.05);
}

.container_card .card:hover img {
    border-radius: 10px;
}

.container_card .card:hover h1 {
    color: var(--color-primaire-violet4);
}